a(href="http://localhost:3000") Return to the homepage
doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Create New Car
        form(action="/update-cobj", method="post")
        
            label(for="name") Name: 
            input(type="text", name="name", required)
            br

            label(for="model") Model: 
            input(type="text", name="model", required)
            br

            label(for="details") Details: 
            input(type="text", name="details", required)
            br

            button(type="submit") Submit